{% extends 'repositorio/index.html' %}

{% block titulo %}
    <h1>Acerca de mi</h1>
{% endblock titulo %}
    

{% block contenido %}
<p align="center">Soy Pamela Testi, de la Provincias de Buenos Aires.<br>
    Me desempeño como docente en el nivel secundario y a raíz de ello fue que quise hacer este modelo de proyecto.<br>
    Este año empecé a trabajar en una escuela inaugurada recientemente y entre tantas cosas que hacen falta una de ella son los libros, cabe destacar que ni biblioteca hay. Y como soy un poco inquieta le ofrecí al director armar un repositorio de libros digitales y de ahí es donde surgió la <b><i>"Biblioteca Digital"</i></b>, la misma la arme con un Google Sites y para este proyecto final quise replicar eso aplicando los conocimientos aprendidos en el curso.
    </p>
{% endblock contenido %}