{% extends 'repositorio/index.html' %}

{% block titulo %}
    <h1>Datos de los alumnos</h1>
{% endblock titulo %}
    

{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
    </thead>
    <tbody>
    {% for alumno in alumnos %}
    <tr>
        <td>{{ alumno.id}}</td>
        <td>{{ alumno.nombre}}</td>
        <td>{{ alumno.apellido}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<h2>Añadir Alumno</h2>
<form method="post">
    <a href="{% url 'alumno_create' %}" class="btn btn-primary">Crear</a>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock contenido %}
