{% extends 'repositorio/index.html' %}

{% block contenido %}
    <h1>Lista de Materias</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Materia</th>
                <th>Código</th>
            </tr>
        </thead>
        <tbody>
            {% for materia in materias %}
            <tr>
                <td>{{ materia.id }}</td>
                <td>{{ materia.nombre }}</td>
                <td>{{ materia.codigo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}