{% extends 'repositorio/index.html' %}

{% block titulo %}
    <h1>Datos del Docentes</h1>
{% endblock titulo %}
    
{% block contenido %}
<div class="mt-4">
    <a href="{% url 'profesor_create' %}" class="btn btn-outline-primary btn-sm">Agregar nuevo</a><br><br>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo Electrónico</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for profesor in profesores %}
    <tr>
        <td>{{ profesor.id}}</td>
        <td>{{ profesor.nombre}}</td>
        <td>{{ profesor.apellido}}</td>
        <td>{{ profesor.email}}</td>
        <td>
            <a
            href="{% url 'profActualizar' profesor.id %}"
            class="btn btn-primary"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa-regular fa-pen-to-square" title="Editar"></i>
            </a>
            <a
            href="{% url 'profEliminar' profesor.id %}"
            class="btn btn-danger"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa-regular fa-trash-can" title="Eliminar"></i>
            </a>                
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}