{% extends 'repositorio/index.html' %}

{% block titulo %}
    <h1>Datos del Docentes</h1>
{% endblock titulo %}
    
{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo Electrónico</th>
        </tr>
    </thead>
    <tbody>
    {% for profesor in profesores %}
    <tr>
        <td>{{ profesor.id}}</td>
        <td>{{ profesor.nombre}}</td>
        <td>{{ profesor.apellido}}</td>
        <td>{{ profesor.mail}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br><h2>Añadir Docente</h2>
<form method="post">
    <a href="{% url 'profesor_create' %}" class="btn btn-primary">Crear</a>
    {% csrf_token %}
    {{ form.as_p }}
</form>
{% endblock contenido %}